@media screen and (max-width: 1200px) {
  .header {
    padding: 0.5rem;
  }
}

@media screen and (max-width: 992px) {
  .nav {
    padding: 0 3rem;
  }
  .header {
    padding: 0;
    height: 85vh;
  }

  .nav__link:link,
  .nav__link:visited {
    font-size: 1.5rem;
  }

  .nav__link--btn:link,
  .nav__link--btn:visited {
    padding: 0.8rem 1.6rem;
  }
  .features {
    margin: 0 6rem;
  }
  .features__row {
    display: flex;
    flex-direction: column;
  }
  .features__im__container {
    width: 100%;
  }
  .features__feature {
    width: 100%;
  }
  .btn {
    padding: 1.25rem 3rem;
  }
}

@media screen and (max-width: 768px) {
  .header {
    height: 70vh;
  }
  h1 {
    font-size: 60px;
  }
  .header__title {
    flex: 0;
  }
  .nav__links {
    /* overflow: hidden; */
    position: absolute;
    left: 50%;

    transform: translateY(-220px) translateX(-50%);
    z-index: 10000;
    flex-direction: column;
    width: 100%;
    border-radius: 5px;
    background-color: var(--color-primary);
  }
  .nav__item {
    margin-left: 0;
  }

  .nav__responsive .nav__links {
    transform: translateY(120px) translateX(-50%);
  }
  .nav__link:link,
  .nav__link:visited {
    font-size: 1.8rem;
    background-color: transparent;
    color: #fff;
  }

  .nav__responsive__btn {
    display: block;
    background-color: transparent;
    border: none;
    color: #000;
  }
  .features {
    margin: 0 4rem;
  }
  .btn {
    font-size: 14px;
    padding: 1rem 2rem;
  }
  .operations__tab span {
    margin-right: 0.5rem;
  }
  .operations__tab {
    margin-right: 2rem;
  }
}

@media screen and (max-width: 576px) {
  .header {
    height: 60vh;
  }
  h1 {
    font-family: "Josefin Sans", sans-serif;
    line-height: 50px;
    font-size: 40px;
  }
  .features {
    margin: 0;
  }
  .section {
    padding: 10rem 1rem;
  }

  .section__header {
    font-size: 2.5rem;
  }
  .features__txt {
    font-size: 30px;
  }
  #section--2 {
    display: none;
  }

  .section {
    padding: 10rem 1rem;
  }

  .testimonial {
    width: 100%;
  }
  .testimonial__header {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 1rem;
  }
  .footer__nav {
    flex-wrap: wrap;
  }
  .section--sign-up .btn {
    font-size: 1.4rem;
    padding: 2rem 3rem;
  }
}

@media screen and (max-width: 400px) {
  .header {
    height: 45vh;
  }
  h1 {
    font-size: 32px;
  }
}
